/* Import fonts */
@import url('../fonts/Roboto.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/* Reset and normalize */
@import url('./normalize.css');

.add-popup {
  height: 900px;
  width: 560px;
}

.info-popup {
  width: 950px;
  height: 560px;
  color: gray;
}

.add-popup,
.info-popup {
  visibility: hidden;
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  text-align: left;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.info-popup p {
  margin-top: 5px;
}

.add-popup header,
.info-popup header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 65px;
  background-color: #464547;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #f2eef8;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 20px;
  align-items: center;
}

.container {
  border-color: rgb(75, 75, 75);
  border-radius: 1px;
  color: rgb(75, 75, 75);
  display: grid;
  margin: 40px;
  column-gap: 40px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'name name'
    'speciality speciality'
    'country city'
    'email phone'
    'date date'
    'sex .'
    'color .'
    'comment comment'
    'button button';
}

input[type="checkbox"] {
  border-radius: 50%;
}

.add-popup input {
  font-size: 16px;
  padding: 5px;
  height: 34px;
}

.add-popup p {
  margin-bottom: 5px;
}

.long-input {
  width: 486px;
}

#addPopup-btn {
  border: 1px solid var(--coral-color);
  color: var(--coral-color);
  font-weight: bold;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

#addPopup-btn:hover {
  color: white;
  background-color: var(--coral-color);
}

.short-input {
  width: 222px;
}

.grid-name {
  grid-area: name;
}

.grid-speciality {
  grid-area: speciality;
}

.grid-country {
  grid-area: country;
}

.grid-city {
  grid-area: city;
}

.grid-email {
  grid-area: email;
}

.grid-phone {
  grid-area: phone;
}

.grid-date {
  grid-area: date;
}

.grid-sex {
  grid-area: sex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-color {
  grid-area: color;
  display: flex;
  justify-content: space-between;
}

.grid-comment {
  grid-area: comment;
}

.grid-button {
  grid-area: button;
}

.main-content {
  width: var(--content-widht);
  margin: auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav.references {
  justify-content: flex-start;
}

.nav.buttons {
  justify-content: flex-end;
}

.teacher-img,
.img-proxy {
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: 50%;
  border: 4px solid #f99589;
  color: var(--coral-color);
  font-size: 25px;
  font-weight: 600;
}

.img-proxy {
  font-size: 25px;
  vertical-align: middle;
  color: var(--coral-color);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.teacher-img:hover,
.img-proxy:hover {
  border-color: #fa1d1d;
  color: #fa1d1d;
}

.content {
  display: grid;
  row-gap: 40px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}

.content > * {
  margin: 0;
}

.clear {
  clear: both;
}

.teacher-btn {
  width: 170px;
  height: 53px;
  font-size: 23px;
}

.teacher-btn:hover {
  font-size: 23px;
}

.refs {
  float: left;
  display: flex;
  justify-content: space-between;
  height: 53px;
}

.ref {
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.ref:hover {
  color: #5c2018;
}

.btns {
  float: right;
}

.foot {
  height: 53px;
}

.vr {
  width: 0;
  height: 36px;
  display: inline-block;
  border-left: 2px dotted grey;
  margin-bottom: -10px;
  margin-left: 20px;
  margin-right: 20px;
}

.star {
  position: absolute;
  font-size: 40px;
  color: #ecec02;
  margin-left: 130px;
  z-index: 1;
}

.name {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

.sector {
  color: gray;
}

.country {
  margin-top: 10px;
  font-size: 12px;
}

.table-nav {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.table-nav > * {
  padding: 5px;
  color: black;
  font-size: 16px;
}

.table-nav > *:visited {
  color: lightseagreen;
}

.table-nav > *:visited:hover {
  color: rgb(16, 85, 81);
}

.prev,
.next {
  font-size: 80px;
  left: auto;
  position: absolute;
  color: #a3a3a3;
  margin-top: 60px;
}

.prev {
  transform: translate(-100px, 0);
}

.next {
  transform: translate(1050px, -270px);
}

.prev:hover,
.next:hover {
  color: #5f5f5f;
}

#filters span:hover {
  color: black;
}

#info-text {
  width: var(--content-widht);
  margin: auto;
}

#statistics {
  display: grid;
}

#search-input {
  width: 220px;
  height: 40px;
  border: 1px solid #767676;
  border-radius: 1%;
  margin-right: 15px;
}

#search-input:hover {
  width: 400px;
}

#search-button {
  width: 92px;
  height: 40px;
}

#search-input::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: auto;
}

#search {
  float: right;
}

#header {
  margin-top: 40px;
  margin-bottom: 60px;
  height: 40px;
}

#filters {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  color: grey;
}

#logo {
  float: left;
  position: absolute;
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  font-family: 'Times New Roman', sans-serif;
  color: white;
  text-shadow: 2px 1px black, -2px -1px #f3741f;
}

#logo:hover {
  text-shadow: 3px 1px black, -3px -1px #fa1d1d;
}

:root {
  --max-width: 1200px;
  --add-popup-width: 486px;
  --content-widht: 1000px;
  --photo-size: 150px;
  --coral-color: #f75c49;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  font-size: 20px;
  padding: 10px;
}

th:hover {
  background-color: #f3f3f3;
  border-bottom: 4px solid black;
}

td {
  padding: 10px;
}

tbody {
  border-top: 1px solid rgb(0, 0, 0);
}

tr:nth-child(even) {
  background-color: #f9f5f9;
}

select {
  background-color: white;
  border-width: 1px;
  border-radius: 2%;
  border-color: #767676;
  height: 34px;
  font-size: 16px;
}

select#age {
  width: 75px;
}

select#region {
  width: 90px;
}

select#sex {
  width: 75px;
}

a {
  text-decoration: none;
  color: var(--coral-color);
  font-size: 23px;
  font-weight: bold;
}

button {
  border: 1px solid var(--coral-color);
  color: var(--coral-color);
  font-weight: bold;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

button:hover {
  color: white;
  background-color: var(--coral-color);
}

body {
  width: var(--max-width);
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

article {
  margin-top: -12px;
  margin-bottom: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
}

hr {
  width: 500px;
  border-color: black;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  body,
  .main-content,
  #info-text {
    width: 600px;
  }

  #header,
  .prev,
  .next {
    position: absolute;
    visibility: hidden;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .teacher-img,
  .img-proxy {
    height: 100px;
    width: 100px;
  }

  .ref,
  .table-ref {
    font-size: 16px;
  }

  .table-ref {
    margin-left: 20px;
  }
}
